# KNN(K-nearest neighbours) = For Classification

In [1]:
# it is a Algorithem based on supervise learning classification to predict the label
# of unknow data based on given label data .

In [2]:
Step 1
#  assume the k parameter (nearest neighbour)

Step 2
# calculate the nuclear distance between the unknown data and training data

Step 3
# sort the data on the base of distance

step 4
# extract the category of nearest neighbour

Step 5
# the majourity of the category of nearest neighbour id the category of unknow data

SyntaxError: invalid syntax (<ipython-input-2-af3b86f47e09>, line 1)

# KNN Template Programe :-

#  Step:- 1  Import library

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

# Step :- 2 Load Data

In [2]:
df =pd.read_csv("Churn.csv")
df.head()
df.info()
df.isna().sum()
df['TotalCharges']=df['TotalCharges'].fillna(df['TotalCharges'].mean())
df.isna().sum()

#  Drop Unaned & customized ID column
df.drop(columns=['Unnamed: 0','customerID'],inplace=True)
df

df=pd.get_dummies(df,drop_first=True)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   customerID        7043 non-null   object
 2   gender            7043 non-null   object
 3   SeniorCitizen     7043 non-null   int64
 4   Partner           7043 non-null   object
 5   Dependents        7043 non-null   object
 6   tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   object
 8   MultipleLines     7043 non-null   object
 9   InternetService   7043 non-null   object
 10  OnlineSecurity    7043 non-null   object
 11  OnlineBackup      7043 non-null   object
 12  DeviceProtection  7043 non-null   object
 13  TechSupport       7043 non-null   object
 14  StreamingTV       7043 non-null   object
 15  StreamingMovies   7043 non-null   object
 16  Contract          7043 non-null   object
 17  PaperlessBilling  7043 non-null   object
 18  PaymentMethod     7043 non-null   object
 19  MonthlyCharges    7043 non-null   float64
 20  TotalCharges      7032 non-null   float64
 21  Churn             7043 non-null   object
dtypes: float64(2), int64(3), object(17)
memory usage: 1.2+ MB

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,1,1,1,1,0,1,...,1,0,1,1,0,1,0,0,1,0
7039,0,72,103.20,7362.90,0,1,1,1,0,1,...,1,0,1,1,0,1,1,0,0,0
7040,0,11,29.60,346.45,0,1,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
7041,1,4,74.40,306.60,1,1,0,1,0,1,...,0,0,0,0,0,1,0,0,1,1
7042,0,66,105.65,6844.50,1,0,0,1,0,0,...,1,0,1,0,1,1,0,0,0,0

In [3]:
#  to define the feature and label
x=df.drop(columns=['Churn_Yes'])
y=df['Churn_Yes']

In [4]:
#  Train test and split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [5]:
#  model create 
knn=KNeighborsClassifier(n_neighbors=5)

In [6]:
#  Fit the model
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [7]:
# Predict
y_predict=knn.predict(x_test)

In [8]:
#  Evaluation
print(accuracy_score(y_test,y_predict))
#  it is the reatio of correct prediction to the total prediction

0.7849538679914834

In [9]:
# confusion Matrix
print(confusion_matrix(y_test,y_predict))
            
#         Predict_no  Predict _yes  
# Actual NO    # [[934 129]
# Actual Yes   #  [174 172]]

#    Thus in binary classification, the count of true negatives is
#     :math:`C_{0,0}`, false negatives is 
#     math:`C_{1,0}`, true positives is
#     :math:`C_{1,1}` and false positives is :math:`C_{0,1}`.

cm=confusion_matrix(y_test,y_predict)
# print(cm[0][0])

tn, fp, fn, tp = confusion_matrix(y_test,y_predict).ravel()

[[934 129]
 [174 172]]

In [10]:
confusion_matrix??
#  documentaion

In [11]:
#1)  precistion
#  it give the answer of all predict variable ,label 
#  how many were actually correct 

# formula tp/(tp+fp)
print(tp/(tp+fp))

0.5714285714285714

In [12]:
#2)  recall / Sensitivity 
# Of all actual label how many did you correcrtly predict

print(tp/(tp+fn))

0.49710982658959535

In [13]:
#3)  SPECIFICTY
#  THE ABILITY OF THE MODEL TO CORRECTLY PREDICT FOR THE NEGAIVE VALUE
print(tn/(tn+fp))

0.878645343367827

In [14]:
# 4) F1 Score
precision=tp/(tp+fp)
recall=tp/(tp+fn)
print(2*((precision*recall)/(precision+recall)))

0.5316846986089645

In [15]:
# 5) support
# they are the number of actual example given in the data
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.84      0.88      0.86      1063
           1       0.57      0.50      0.53       346

    accuracy                           0.78      1409
   macro avg       0.71      0.69      0.70      1409
weighted avg       0.78      0.78      0.78      1409

In [16]:
# qb 246
# Using the Iris dataset 
# (https://raw.githubusercontent.com/pdsinroza/python2/main/Iris.csv?token=GHSAT0AAAAAACQ7ZNWMQ3U6FOFL37O2JIPAZ
#  Q5CWZA), write Python code to perform the following tasks:
#  Split the dataset into features (X) and labels (y).
#  Split the features and labels into training and testing sets with a test size of 0.2 and a random state of 42.
#  Initialize a kNN classifier with 3 neighbors.
#  Train the classifier on the training set.
#  Make predictions on the test set.
#  Calculate and print the accuracy score of the classifier.
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.datasets import load_iris
iris=load_iris()
x=iris.data
y=iris.target
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train)
y_predict=knn.predict(x_test)
print(accuracy_score(y_test,y_predict))

1.0